<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Demo</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/1.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,100,100italic,400italic,700,700italic,900,900italic' rel='styleshe
et' type='text/css'>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container nab">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Logo Here !</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">



                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <div class="about pageErr">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1>All contact</h1>
                    <div id="text">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <small>Copyright © Demo Website 2016</small>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/1.js"></script>
    <!-- thoi gian chuyen dong -->
    <script src="/js/jquery.easing.min.js"></script>
</body>

</html>